@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: url("img/background.png");
    background-attachment: fixed;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 200px;
    margin: 0px;
    top: 0px;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    box-shadow: .5px .5px 5px black;
    z-index: 2;
}

header #ImgLogo {
    width: 200px;
}

header h1 {
    font-family: 'Roboto', sans-serif;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 100%;
}
header nav li {
    list-style: none;
    margin: 0px 10px 0px 10px;
}
header nav li a {
    font-size: 16pt;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 5px;
    transition: .2s;
}
header nav li a:hover {
    color: orange;
    text-decoration: double underline;
    transition: .3s;
}

#CarrinhoBtn {
    font-size: 30pt;
    color: brown;
    cursor: pointer;
}
#CarrinhoBtn:hover {
    font-size: 30pt;
    color: tomato;
    cursor: pointer;
}

/* Galeria de promoção */
#Galeria{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 850px;
    box-sizing: border-box;
}
.GaleriaContent {
    height: 420px;
}
#CoverGaleria {
    display: flex;
    position: relative;
    top: -850px;
    width: 100%;
    height: 850px;
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

#CoverGaleria p {
    display: block;
    color: white;
    font-weight: bolder;
    font-size: 24pt;
    margin-top: 100px;
}
#Galeria img {
    width: 100%;
    height: 850px;
    zoom: unset;
    padding: 0px; margin: 0px;
}

h1 {
    display: block;
    text-align: center;
}
h1 img{
    width: 40%;
    margin: 180px auto 130px auto;
}

/* Carrinho - Direita */
#Carrinho{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 900px;
    right: 20px;
    top: 75px;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(26, 26, 26);
    border: 2px dashed brown;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    color: white;
}
#Carrinho_Header {
    display: flex;
    justify-content: space-around;
    font-size: 18pt;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px dashed brown;
}

#Carrinho_Lista {
    height: 80%;
    padding: 10px 20px;
    list-style: none;
}
#Carrinho_Lista li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0px;

    font-size: 13pt;
    text-align: left;
    color: black;

    background-color: orange;
    border-radius: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#Carrinho_Lista li span{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 50px;
    padding: 0px 5px;
    margin: 0px 2px;
}
#Carrinho_Lista li span:nth-child(2) { 
    border-left: 2px dashed whitesmoke;
    border-right: 2px dashed whitesmoke;
}
#Carrinho_Lista li span:nth-child(3) { 
    border-right: 2px dashed whitesmoke;
}

#Carrinho_Lista-RemoveBtn {
    font-size: 18pt;
    margin-left: 20px;
    cursor: pointer;
}
#Carrinho_Lista-RemoveBtn:hover {
    color: white;
}

#Carrinho_Footer {
    display: flex;
    justify-content: center;
    align-items: center ;
    bottom: 0px;
    height: 50px;
}
#Carrinho_Footer input {
    width: 170px;
    padding: 10px 20px;
    font-size: 12pt;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}
#Carrinho_Footer input:hover {
    width: 200px;
    font-size: 13pt;
    color: white;
    border-radius: 20px;
    transition: .2s;
}

/* Content */
#Content {
    display: flex; 
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 60px;
    margin-bottom: 10px;
}

.QuemSomos {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}
.QuemSomos img {
    width: 550px;
    height: 350px;
    margin-right: 50px;
}
.QuemSomos p {
    color: gray;
    font-size: 1.2rem;
    text-indent: 50px;
    text-align: justify;
    margin-top: 50px;
}

#TiposDeCarne {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 500px;
}

/* Titulos */
h2 {
    width: 100%;
    font-size: 18pt;
    padding: 20px 10px 20px 10px;
    margin-bottom: 50px;
    text-align: center;
    color: white;
    background-color: rgb(26, 26, 26);
}

/* Contato & Localização */
#ContatoLocalizacao{
    display: flex;
    width: 90%;
}
#ContatoLocalizacao div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
#ContatoLocalizacao div h2 {
    width: 80%;
}
#ContatoLocalizacao div p {
    margin: 10px 0px;
    font-size: 14pt;
    font-weight: bolder;
}
#Mapa {
    width: 80%;
    height: 80%;
    border: none;
    box-shadow: 1px 1px 5px gray;
}

#AreaContato form fieldset {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:  auto;
    padding: 50px;
    border: none;
    box-shadow: 1px 1px 5px gray;
}
#AreaContato div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 10px;
    padding: 5px 0px;
    box-sizing: border-box;
    text-align: left;
}
#AreaContato label {
    font-family: 'Roboto', sans-serif;
}
#AreaContato input {
    padding: 5px 0px 5px 0px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}

#BotaoFormulario {
    width: 90%;
}
#BotaoFormulario button {
    width: 80%;
    color: white;
    font-weight: bold;
    background-color: brown;
    border: none;
    border-radius: 20px;
    padding: 10px;
    transition: .2s;
}
#BotaoFormulario button:hover {
    color: black;
    background-color: brown;
    transition: .2s;
    cursor: pointer;
}

#RadioTiposDeCarnes {
    border: 1px solid red;
}
#RadioTiposDeCarnes label {
    display: flex;
    border: 1px solid orange;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    font-size: 10pt;
    color: gray;
    padding: 10px;
    box-sizing: border-box;
    background-color: black;
    border-top: 3px dashed brown;
    clear: both;
}
footer nav {
    display: flex;
    justify-content: center;
}
footer nav li {
    list-style: none;
    padding: 10px;
}
footer nav img {
    width: 30px;
    margin: 0px 20px;
}


.hide {
    display: none !important;
}