#MainCheck {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.CheckBoxRow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    height: 30px;
    margin: 5px 2px;
    cursor: pointer;
}
.CheckBoxRow p {
    border-left: 10px solid transparent;
}

.CheckBox {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin: 1px 0px;
    border: 1px solid black;
}

.Checked {
    background-color: brown;
}

.NotEmpty {
    background-color: wheat;
}