#Radios {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.MainRadio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 5px;
    cursor: pointer;
}

.RadioCircle {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
}

.RadioCircleChecked {
    background-color: brown;
}